:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgba(223, 72, 203, 0.863);
    --tertiary-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body {
    background-color: var(--primary-color);
    font-family:Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 3vw 5vw 3vw 5vw;
}
header a {
    text-decoration: none;
    color:rgba(223, 72, 203, 0.863)
}

#time {
    font-weight: bolder;
}


.quiz-wrapper {
    width: 575px;
    margin:auto;
}

.quiz-intro {
    text-align: center;
}

.intro-info-container {
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
}

.start-button {
    padding: .5vw 1vw;
    background-color: var(--secondary-color);
    justify-content: center;
    border: none;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.quiz-content lh {
    font-weight:800;
    font-size: 25px;
    line-height: 1;
    margin: 5px;
}

.quiz-content li {
    margin-top: 3px;
    }

.quiz-content button {
    color: rgb(206, 206, 206);
    background-color: rgb(58, 16, 136);
    width: 100px;
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 3px;
    font-size: 15px;
}

.answer-container{
        border-top: solid 1px rgb(179, 179, 179);
        color: rgb(179, 179, 179);
        text-align: left;
        padding: 2px;
        margin-top: 15px;
    
}

.score-container {
    text-align: left;
}
 
.final-score {
    margin: 5px 0px;
}

.form button {
    color: rgb(206, 206, 206);
    background-color: rgb(58, 16, 136);
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    height: 25px;
}

/*
.score {
    color: var(--secondary-color);
}


.score-wrapper {
   width: 400px;
position: center;
margin:auto;
}


.intro-text {
   font-size: 15px;
}
.quiz-content h1 {
    padding: 1vw;
    position: center;
}

.info-choice {
    padding-top: .5vw;
    padding-bottom: 1vw;
}
.quiz-content ul{
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    
}
.quiz-content li {
    justify-content: left;
    display:block;
    
    
}



footer {
    width: 400px;
    margin:auto;
}

.btn {
    color: rgb(206, 206, 206);
    background-color: rgb(58, 16, 136);
    width: 75px;
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 4px 5px;
    margin-top: 3px;
    font-size: 8px;
}   
.btn:hover {
    background-color:rgba(223, 72, 203, 0.863);
}

.question {
    text-align: left;
    line-height: 1;
}
.right-wrong {
    border-top: solid 1px rgb(179, 179, 179);
    color: rgb(179, 179, 179);
    text-align: left;
    padding: 2px;
    margin-top: 2px;
}

.score-container {
    width: 500px;
    text-align: left;
}
